body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/******************************/

@media (min-width:768px) and (max-width: 991px) {
    .form-group > [class*=col-sm-2], [class*=col-sm-4]:nth-child(2n+1) {
        clear: both;
        margin-top: 2px;
        
    }

    .form-group > [class*=col-sm-2], [class*=col-sm-4] {
        margin-top: 2px;
    }
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

.form-group{
    margin-bottom:1px !important;
}

.control-label{
    margin-top:-3px !important;
}
.icon-bar{
    background:#f9c218 !important;
}
.no-wrap {
    white-space:nowrap;
}
.display-label{
    font-weight : bold;
    white-space : nowrap;
}