@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<h3>Technology Used :</h3>
<ul>
    <li class="lead">Visual Studio 2013 Express</li>
    <li class="lead">SQL Server 2013 Express</li>
    <li class="lead">MVC 5</li>
    <li class="lead">.NET Framework 4.5</li>
    <li class="lead">Entity Framework 6.0</li>
    <li class="lead">Bootstrap 3.0</li>
</ul>
<script type="text/javascript">
    $(document).ready(function () {
        $('#menuAbout').addClass('active')
    });

</script>
