@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>ASP.NET MVC 5 Demo Application</h2>
    <ul>
        <li class="lead">Mobile Friendly CRUD App Using Bootstrap 3</li>
        <li class="lead">Desktop 4 Columns, Tablets 2 Columns & Phones 1 Column View</li>
        <li class="lead">Disabled Pinch & Zoom on Mobile Devices</li>
        <li class="lead">Code First Using Entity Framework 6</li>
        <li class="lead">Seeding Of Data</li>
        <li class="lead">Unit of Work and Repository Pattern</li>
        <li class="lead">Dependency Injection Using IOC Container - Ninject</li>
        <li class="lead">Handled Data Concurrency</li>
        <li class="lead">Automated Unit Testing Using Moq</li>
        <li class="lead">Automated Unit Integration Testing Using Fake Data</li>
        <li class="lead">Data Annotation</li>
        <li class="lead">Partial Views</li>
        <li class="lead">Editor Templates</li>
        <li class="lead">Global Error Handling</li>
        <li class="lead">CDN based js and css</li>
    </ul>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#menuHome').addClass('active')
    });

</script>